<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
<script src="/bootstrap.min.js"></script>
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/IMG-20190911-WA0006.jpg" width="30" height="30" alt="">
      </a>
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#about">About</a>
            <a class="nav-item nav-link" href="#register">Register</a>
             <a class="nav-item nav-link" href="#coreteam">Core Team</a>
              <a class="nav-item nav-link" href="/blog">Blog</a>
          </div>
        </div>
      </nav>
      <style>
.carousel-item{
    height: 600px;
} 
.carousel-item img{
    height: 600px;
}
      
      </style>
</body>
